@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
  margin: 0;
  font: 300 14px/1.2 'Roboto', sans-serif;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}